#include <Arduino.h>
#include "Credentials.h"

// Todo:
// 1. Copy this file
// 2. Rename it to "Credentials.cpp"
// 3. Insert your WiFi credentials

namespace Credentials
{
    namespace WiFi
    {
        const char *SSID = "YourWiFiSSID";
        const char *Password = "YourWiFiPassword";
    }
    namespace MQTT
    {
        const char *Server = "YourMqttServer";
        const char *UserName = "YourMqttUserName";
        const char *Password = "YourMqttPassword";
    }
}