#include <Arduino.h>
#include "Credentials.h"

// Todo:
// 1. Copy this file
// 2. Rename it to "Credentials.cpp"
// 3. Insert your WiFi credentials

namespace Credentials
{
    const char *WiFi_SSID = "YourSSID";
    const char *WiFi_Password = "YourPassword";
}